#section-product{
    width: 96%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

#section-contact{
    width: 96%;
    padding-top: 20px;
    margin: auto;
}

#icon{
    font-size: 75px;
    color: #029ebd;
}
#products{
    width: 100%;
    margin: 20px 0;
}

@media (min-width: 768px) {
    .about{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .about-child{
        grid-column: span 2 / span 2;
    }
}

.text-justify{
    text-align: justify;
}

@media (min-width: 768px) {
    .padding-r-4 {
        padding-right: 1rem/* 16px */;
    }

    .margin-t-0 {
        margin-top: 0px;
    }
}

.h-450 {
    height: 450px;
}

.h-300 {
    height: 280px;
}

.card{
    padding: 0 !important;
}

.h-1-2 {
    height: 80%;
}

.background-image {
    background-image: url('../assets/ustensile-3.jpg');
    background-size: cover;
    background-position: bottom center;
  }

.linear-gradient {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

hr{
    width: 7rem;
    margin-top: 5px;
    height: 6px;
}

.hr{
    width: 7rem;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 6px;
}

.padding-y-24{
    padding-top: 24px;
    padding-bottom: 24px;
}

.max-w-320{
    max-width: 300px;
}
  